.header {
  .navbar {
    padding: 0;
    background-color: #fff;
  }

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-lg,
  .navbar>.container-md,
  .navbar>.container-sm,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    justify-content: flex-start;
  }

  .navbar-toggler {
    padding: 0;
    border: none;
    margin-right: 12px;
  }

 
  .navbar-nav {
    .nav-link {
      // padding: 1.75rem 1.25rem;
      // padding-right: 1.25rem;
      // padding-left: 1.25rem;s
      padding: 28px 20px;
      color: $black;

      &.active {
        color: $primary;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(85.51deg,
            #ff2e57 -21.11%,
            #ff7439 137.36%);
      }
    }

    .nav-item {
      &.cart {
        position: relative;

        .nav-link {
          padding-right: 12px;
        }
      }

      .cart {
        &__item {
          position: absolute;
          height: 13px;
          top: 24px;
          right: 8px;
          width: 13px;
          border-radius: 30px;
          color: #fff;
          font-weight: 700;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;
        }
      }

      &.user {
        .nav-link {
          padding-left: 12px;
        }
      }
    }

    .dropdown-menu {
      box-shadow: 3px 3px 5px rgba(134, 135, 141, 0.2);
      border-radius: 0px 0px 5px 5px;
      margin-top: 0px;

      .dropdown-item {
        padding: 12px;
        font-size: 14px;
        color: $black;

        &:hover {
          transition: 0.2s;
          background-color: #e0e5f8;
        }
      }
    }
  }
}
.menu-is-open{
  &:before{
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }
}