body {
  font-family: "Helvetica-neue";
  background-color: #f2f5ff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

.modal-open-toggle {
  --bs-backdrop-zindex: .5;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
  opacity: 0;
  display: none;

  &.show {
    display: block;
    opacity: var(--bs-backdrop-opacity);
  }
}

.content-wrapper {
  flex-grow: 1;
  padding-bottom: 60px;
}

.title-head {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: $black;
}
.row{
  --bs-gutter-x: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}
