.btn-primary {
  border: 1px solid $black;
  background-color: $black;
  border-radius: 3px;
}
.btn-primary-2 {
  background: linear-gradient(91.43deg, #ff1851 -22.08%, #ff4244 109.59%);
  border-radius: 5px;
  color: #fff;
  padding: 12px 24px;
}
.btn {
  font-size: 14px;
  padding: 8px 16px;
  &.btn-primary {
    &:hover,
    &:focus {
      background-color: $black-hover;
    }
  }
}
.modal{
  .modal-dialog{
    max-width: 650px;
  }
  .modal-main-content{
    max-width: 450px;
    margin: auto;
    border: none;
  }
}