.btn-primary {
  border: 1px solid $black;
  background-color: $black;
  border-radius: 3px;
}
.btn-primary-2 {
  background: linear-gradient(91.23deg, #FF2E57 -33.56%, #FF7439 163.57%);
  border-radius: 5px;
  color: #fff;
  padding: 12px 24px;
  &:hover{
    background: linear-gradient(91.43deg, #FF1851 -22.08%, #FF4244 109.59%);
    transition: .3s ease-in-out;
    color: #fff!important;
  }
}
.btn {
  font-size: 14px;
  padding: 8px 16px;
  &.btn-primary {
    &:hover,
    &:focus {
      background-color: $black-hover;
    }
  }
}
.modal{
  .modal-dialog{
    max-width: 650px;
  }
  .modal-main-content{
    max-width: 450px;
    margin: auto;
    border: none;
  }
}
.slick-next:before, .slick-prev:before{
  font-size: 32px;
  color: $black;
}