/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #656782;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #656782;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
}

.select2-results__option--selectable {
  font-size: 14px;
  background-color: #f8f9ff;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #e0e5f8;
  transition: 0.3s;
  color: $black;
}

.select2-container--default .select2-results__option--selected {
  background-color: #e0e5f8;
}

.select2-dropdown {
  border: 1px solid #c6d0f2;
  border-radius: 0px;
}

.select2-container--open .select2-dropdown--below {
  margin-top: -4px;
}

.select2-container {
  background: #f2f5ff;
  border: 1px solid #c6d0f2;
  border-radius: 5px;
  font-size: 14px;
  // width: 100% !important;

  .select2-selection--single {
    height: 35px;

    .select2-selection__rendered {
      line-height: 32px;
    }

    .select2-selection__arrow {
      height: 30px;
    }
  }
}

//slider

.custum-range-slider__range {
  -webkit-appearance: none;
  background: #c2cbea;
  border-radius: 5px;
  height: 2px;
  margin: 0;
  outline: none;
  padding: 0;
  width: calc(100% - (73px));
}

.custum-range-slider__range::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

.custum-range-slider__range::-moz-focus-inner,
.custum-range-slider__range::-moz-focus-outer {
  border: 0;
}

.custum-range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  transition: 0.15s ease-in-out;
  width: 16px;
  background: #fff;
  border: 0.5px solid #eceff8;
  box-shadow: 0px 1px 3px rgba(179, 187, 213, 0.5);
}

.custum-range-slider__range::-webkit-slider-thumb:hover,
.custum-range-slider__range::-moz-range-thumb:hover {
  background: #cbc3c3;
}

.custum-range-slider__range:active::-webkit-slider-thumb,
.custum-range-slider__range:active::-moz-slider-thumb {
  background: #cbc3c3;
}

.custum-range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #cbc3c3;
}

.custum-range-slider__range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #cbc3c3;
}

.custum-range-slider__range::-moz-range-thumb {
  background: #3bb6b6;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  height: 20px;
  transition: 0.15s ease-in-out;
  width: 20px;
}

.custum-range-slider__value {
  background: #3bb6b6;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  margin-left: 8px;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  width: 60px;
}

.custum-range-slider__value:after {
  border-bottom: 7px solid transparent;
  border-right: 7px solid #3bb6b6;
  border-top: 7px solid transparent;
  content: "";
  height: 0;
  left: -7px;
  position: absolute;
  top: 8px;
  width: 0;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

/*====== search form========*/
.search-form {
  position: relative;

  svg {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 12px;
  }

  .form-control {
    background: #f2f5ff;
    border: 1px solid #c6d0f2;
    border-radius: 5px;
    height: 32px;
    font-size: 14px;
    padding: 7px 12px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #989ab9;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #989ab9;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #989ab9;
  }
}

/*=================*/
/*--- Start | Checkbox and Radio Design ---*/
/*=================*/
.checkbox-design,
.radio-design {
  font-weight: normal;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 13px;
  margin-bottom: 4px;
  font-size: 14px;
}

.checkbox-design input,
.radio-design input {
  position: absolute;
  opacity: 0;
}

.checkbox-square,
.radio-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 0px;
  border: 1px solid #c6cde7;
  background: #ffffff;
  border-radius: 3px;
}

.radio-circle {
  border-radius: 50%;
}

.checkbox-design input:checked ~ .checkbox-square,
.radio-design input:checked ~ .radio-circle {
  background: transparent;
  -webkit-animation: CheckRadioAnimation 250ms linear;
  animation: CheckRadioAnimation 250ms linear;
}

.checkbox-design input:checked ~ .checkbox-square:before {
  content: "";
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border: 2px solid;
  background-color: $black;
  border-radius: 2px;
  position: absolute;
}

.radio-design input:checked ~ .radio-circle:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

@-webkit-keyframes CheckRadioAnimation {
  from {
    -webkit-transform: scale(1.2);
    opacity: 0.1;
  }

  to {
    -webkit-transform: scale(1);
    opacity: 0.7;
  }
}

@keyframes CheckRadioAnimation {
  from {
    transform: scale(1.2);
    opacity: 0.1;
  }

  to {
    transform: scale(1);
    opacity: 0.7;
  }
}

/*=================*/
/*--- End | Checkbox and Radio Design ---*/
/*=================*/
.slider-ranger {
  .title {
    font-size: 14px;
    font-weight: 500;
  }

  &__value {
    font-size: 14px;
    text-align: center;
    padding: 4px 10px;
    background: #f2f5ff;
    border: 1px solid #c6d0f2;
    border-radius: 5px;
    width: 60px;
  }

  .custum-range-slider__range {
    width: 100%;
  }
}

.slider-ranger {
  &__value {
    color: #656782;
    font-size: 14px;
    background-color: transparent;
    border: none;
    width: auto;
  }
}

.quality {
  align-items: center;
  justify-content: space-between;

  &__control {
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid #d7def5;

    .btn {
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }

    .btn,
    input {
      height: 32px;
    }

    input {
      font-size: 16px;
      color: $black;
      font-weight: 500;
      text-align: center;
      width: 40px;
      background: #dce2f7;
      border: 1px solid #d7def5;
    }

    .select2-container {
      border: none;
      background-color: #c6d0f2;
      border-radius: 0;
      width: 100px !important;

      .select2-selection--single {
        height: 32px;
      }
    }
  }
}
.form-control,
.select2-container {
  background: #e0e5f8;
  border: 1px solid #cdd4ef;
  border-radius: 3px;
  font-size: 16px;
}
.form-control {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #989ab9;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #989ab9;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #989ab9;
  }
}
textarea{
  border-radius: 3px;
}