/* the slides */
.slick-slide {
  margin: 0 4px;
}

/* the parent */
.slick-list {
  margin: 0 -4px;
}

@media (min-width: 768px) {
  .category-style__content {
    .slick-list {
      padding: 0 12% 0 0 !important;
    }
  }
}
.slick-slider{
  overflow: hidden;
}