<section class="content-wrapper">
  <div class="container">
    <div class="blendmode mt-4">
      <div class="blendmode-item blendmode__over">
        <img src="../assets/img/photoshop/over.png" alt="" />
      </div>
      <div class="blendmode-item blendmode__image-mockup">
        <img src="../assets/img/photoshop/image.png" alt="" />
      </div>
      <div class="blendmode-item blendmode__color-fill">
        <img src="../assets/img/photoshop/color-fill.png" alt="" />
      </div>
      <div class="blendmode-item blendmode__background">
        <img src="../assets/img/photoshop/background.png" alt="" />
      </div>
    </div>
  </div>
</section>
