  <nav class="breadcrumb-show">
    <div class="container">
        <a href="javascript:(0)" class="breadcrumb-show__item" aria-current="page">Design</a>
        <p class="breadcrumb-show__description">
          Print your desired look on ready-made shirts with various sizes and colors.
        </p>
    </div>
  </nav>
  <nav aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Design</a></li>
        <li class="breadcrumb-item active" aria-current="page">Type</li>
      </ol>
    </div>
  </nav>