<section class="content-wrapper">
  <nav class="breadcrumb-show">
    <div class="container">
      <a href="javascript:(0)" class="breadcrumb-show__item" aria-current="page"
        >Cart</a
      >
      <p class="breadcrumb-show__description">
        Print your desired look on ready-made shirts with various sizes and
        colors.
      </p>
    </div>
  </nav>
  <nav aria-label="breadcrumb " class="d-none d-md-block">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
      </ol>
    </div>
  </nav>
  <div class="cart">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="cart__items">
            <img
              src="../assets/img/shop-img.png"
              class="cart__items--image"
              alt=""
            />
            <div class="cart__items--content w-100">
              <div class="title d-flex justify-content-between">
                <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                <button class="btn p-0">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4"
                      y="3"
                      width="25"
                      height="1.5"
                      rx="0.75"
                      transform="rotate(45 4 3)"
                      fill="#656782"
                    />
                    <rect
                      x="2.93945"
                      y="20.6777"
                      width="25"
                      height="1.5"
                      rx="0.75"
                      transform="rotate(-45 2.93945 20.6777)"
                      fill="#656782"
                    />
                  </svg>
                </button>
              </div>
              <p class="list-item">T-Shirt Men</p>
              <p class="list-item">Color: Black</p>
              <p class="list-item">Size: XXL</p>
              <div
                class="action d-flex justify-content-between align-items-center"
              >
                <div class="quality__control">
                  <button class="btn p-0">
                    <img src="../assets/img/minus-control.png" alt="" />
                  </button>
                  <input type="text" value="1" />
                  <button class="btn p-0">
                    <img src="../assets/img/plus-control.png" alt="" />
                  </button>
                </div>
                <p class="action__price mb-0">$40</p>
              </div>
            </div>
          </div>
          <div class="cart__items">
            <img
              src="../assets/img/shop-img.png"
              class="cart__items--image"
              alt=""
            />
            <div class="cart__items--content w-100">
              <div class="title d-flex justify-content-between">
                <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                <button class="btn p-0">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4"
                      y="3"
                      width="25"
                      height="1.5"
                      rx="0.75"
                      transform="rotate(45 4 3)"
                      fill="#656782"
                    />
                    <rect
                      x="2.93945"
                      y="20.6777"
                      width="25"
                      height="1.5"
                      rx="0.75"
                      transform="rotate(-45 2.93945 20.6777)"
                      fill="#656782"
                    />
                  </svg>
                </button>
              </div>
              <p class="list-item">T-Shirt Men</p>
              <p class="list-item">Color: Black</p>
              <p class="list-item">Size: XXL</p>
              <div
                class="action d-flex justify-content-between align-items-center"
              >
                <div class="quality__control">
                  <button class="btn p-0">
                    <img src="../assets/img/minus-control.png" alt="" />
                  </button>
                  <input type="text" value="1" />
                  <button class="btn p-0">
                    <img src="../assets/img/plus-control.png" alt="" />
                  </button>
                </div>
                <p class="action__price mb-0">$40</p>
              </div>
            </div>
          </div>
          <div class="cart__items">
            <img
              src="../assets/img/shop-img.png"
              class="cart__items--image"
              alt=""
            />
            <div class="cart__items--content w-100">
              <div class="title d-flex justify-content-between">
                <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                <button class="btn p-0">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4"
                      y="3"
                      width="25"
                      height="1.5"
                      rx="0.75"
                      transform="rotate(45 4 3)"
                      fill="#656782"
                    />
                    <rect
                      x="2.93945"
                      y="20.6777"
                      width="25"
                      height="1.5"
                      rx="0.75"
                      transform="rotate(-45 2.93945 20.6777)"
                      fill="#656782"
                    />
                  </svg>
                </button>
              </div>
              <p class="list-item">T-Shirt Men</p>
              <p class="list-item">Color: Black</p>
              <p class="list-item">Size: XXL</p>
              <div
                class="action d-flex justify-content-between align-items-center"
              >
                <div class="quality__control">
                  <button class="btn p-0">
                    <img src="../assets/img/minus-control.png" alt="" />
                  </button>
                  <input type="text" value="1" />
                  <button class="btn p-0">
                    <img src="../assets/img/plus-control.png" alt="" />
                  </button>
                </div>
                <p class="action__price mb-0">$40</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cart__price mt-5 mt-md-0">
            <h3 class="cart__price--title">Summary</h3>
            <div class="cart__price--content">
              <div class="item-price">
                <label for="">Subtotal</label>
                <p class="mb-0">$350</p>
              </div>
              <div class="item-price">
                <label for="">Estimated delivery & Handling</label>
                <p class="mb-0">$25</p>
              </div>
            </div>
            <hr />
            <div class="cart__price--total">
              <label for="">Total</label>
              <p class="mb-0">$375</p>
            </div>
            <div class="row mt-3">
              <div class="col-xl-6">
                <button class="btn btn-primary w-100 mb-2">Checkout</button>
              </div>
              <div class="col-xl-6">
                <button class="btn btn-primary w-100 mb-2">Back to shop</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
