<section class="content-wrapper">
  <nav class="breadcrumb-show">
    <div class="container">
      <a href="javascript:(0)" class="breadcrumb-show__item" aria-current="page">Cart</a>
      <p class="breadcrumb-show__description">
        Print your desired look on ready-made shirts with various sizes and
        colors.
      </p>
    </div>
  </nav>
  <nav aria-label="breadcrumb " class="d-none d-md-block">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item"><a href="#">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
  </nav>
  <div class="cart cart-checkout">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="cart-checkout__content">
            <h3 class="cart-checkout__content--title">Checkout</h3>
            <div class="cart-checkout__content--address">
              <div class="info-ship mb-4">
                <div class="title">Shipping information</div>
                <label class="checkbox-design">
                  <input type="radio" name="programming">
                  <span class="checkbox-square"></span>
                  huongmai@gmail.com <br />
                  01 Hai Nam Street, Hoa Cuong Ward, Hai Chau District, Da Nang City, Viet Nam.<br />(+84) 985 874 754
                </label>
              </div>
              <div class="info-ship mb-4">
                <label class="checkbox-design">
                  <input type="radio" name="programming">
                  <span class="checkbox-square"></span>
                  <span class="title">Add new shipping address</span>
                </label>
                <div class="info-ship__content">
                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" placeholder="Street address" id="validationCustom03"
                        required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" placeholder="Apt / Suite/ Other (optional)"
                        id="validationCustom03" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" class="form-control" placeholder="City" id="validationCustom03" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                        <div class="col-md-6 mt-3">
                          <select class="form-control select-custom">
                            <option selected="selected">State</option>
                            <option>white</option>
                            <option>purple</option>
                          </select>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="validationCustom03" placeholder="Zipcode"
                            required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                        <div class="col-md-6 mt-3">
                          <select class="form-control select-custom">
                            <option selected="selected">Country</option>
                            <option>white</option>
                            <option>purple</option>
                          </select>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" class="form-control" placeholder="Email" id="validationCustom03" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                        <div class="col-md-6 mt-3">
                          <input type="text" class="form-control" placeholder="Phone" id="validationCustom03" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <label class="checkbox-design save-info">
                    <input type="radio" name="programming">
                    <span class="checkbox-square"></span>
                    <span class="title">Save this information for next time</span>
                  </label>
                </div>
              </div>
            </div>
            <hr class="py-3 py-md-4">
            <h3 class="cart-checkout__content--title small">Your order</h3>
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg>
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <div
                  class="action d-flex justify-content-between align-items-center"
                >
                  <div class="quality__control">
                    <button class="btn p-0">
                      <img src="../assets/img/minus-control.png" alt="" />
                    </button>
                    <input type="text" value="1" />
                    <button class="btn p-0">
                      <img src="../assets/img/plus-control.png" alt="" />
                    </button>
                  </div>
                  <p class="action__price mb-0">$40</p>
                </div>
              </div>
            </div>
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg>
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <div
                  class="action d-flex justify-content-between align-items-center"
                >
                  <div class="quality__control">
                    <button class="btn p-0">
                      <img src="../assets/img/minus-control.png" alt="" />
                    </button>
                    <input type="text" value="1" />
                    <button class="btn p-0">
                      <img src="../assets/img/plus-control.png" alt="" />
                    </button>
                  </div>
                  <p class="action__price mb-0">$40</p>
                </div>
              </div>
            </div>
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg>
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <div
                  class="action d-flex justify-content-between align-items-center"
                >
                  <div class="quality__control">
                    <button class="btn p-0">
                      <img src="../assets/img/minus-control.png" alt="" />
                    </button>
                    <input type="text" value="1" />
                    <button class="btn p-0">
                      <img src="../assets/img/plus-control.png" alt="" />
                    </button>
                  </div>
                  <p class="action__price mb-0">$40</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cart__price mt-5 mt-md-0">
            <h3 class="cart__price--title">Summary</h3>
            <div class="cart__price--content">
              <div class="item-price">
                <label for="">Subtotal</label>
                <p class="mb-0">$350</p>
              </div>
              <div class="item-price">
                <label for="">Estimated delivery & Handling</label>
                <p class="mb-0">$25</p>
              </div>
            </div>
            <hr />
            <div class="cart__price--total">
              <label for="">Total</label>
              <p class="mb-0">$375</p>
            </div>
            <div class="row mt-3">
              <div class="col-xl-6">
                <button class="btn btn-primary w-100 mb-2">Checkout</button>
              </div>
              <div class="col-xl-6">
                <button class="btn btn-primary w-100 mb-2">Back to shop</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>