<section class="privacy">
  <div class="container">
    <h3 class="privacy__title">How Do I Delete My Account on Multiple Custom?</h3>
    <p>Last updated on Nov.2022</p>
    <br/>
    <p>* Note :</p>
    <p>- All your data will be deleted and can not be recovered.</p>
    <p>- You cannot review in-app notifications after your account is deleted.</p>
    <p>- You can register new account again by using your current social network account.</p>
    <p>To delete your account, please log in to Money Tracker mobile app > Go to Account page > Select Account Management > Click the Delete Account button at the bottom.</p>
    <br/>
    <div style="text-align: center; margin-top: 16px">
    <img src="../assets/img/img-delete-account.png" alt="">
    </div>
  </div>
</section>
<style>
  .container{
    padding: 30px 16px;
  }
  .privacy {
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 11px;
  }
  .privacy__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }
  .privacy__head {
    margin-bottom: 0;
    color: #1eb11b;
    font-weight: 700;
    font-size: 11px;
  }
  li {
    padding-left: 5px;
  }
  p , h5, h3{
    margin: 0;
  }
  @media (min-width: 768px){
    .container{
      padding: 42px 16px;
      max-width: 740px;
      margin: auto;
    }
  }
</style>
