<div class="tab-pane__content">
  <h3 class="design__tool--title">Select type</h3>
  <div class="design__tool--content">
    <div class="row">
      <div class="col-6">
        <a href="javascript:(0)" class="type__content">
          <img src="../assets/img/icon-shirt.png" alt="" />
          <p class="type__content--name">T-SHIRT</p>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:(0)" class="type__content">
          <img src="../assets/img/icon-polo.png" alt="" />
          <p class="type__content--name">POLO SHIRT</p>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:(0)" class="type__content">
          <img src="../assets/img/icon-hoodie.png" alt="" />
          <p class="type__content--name">HOODIE</p>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:(0)" class="type__content">
          <img src="../assets/img/icon-sweat.png" alt="" />
          <p class="type__content--name">SWEATSHIRT</p>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:(0)" class="type__content">
          <img src="../assets/img/icon-tank-top.png" alt="" />
          <p class="type__content--name">TANK TOP</p>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:(0)" class="type__content">
          <img src="../assets/img/icon-shirt-kid.png" alt="" />
          <p class="type__content--name">T-SHIRT KID</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="action-save-design w-100">
  <button class="btn btn-primary w-100 mt-auto">
    Save my design
  </button>
</div>