<div class="tab-pane__content">
  <h3 class="design__tool--title">Select color</h3>
  <div class="design__tool--content">
    <div class="color-choices">
      <input
        type="radio"
        value="None"
        id="radioOne"
        name="account"
        checked
      />
      <label for="radioOne" class="radio cl-1" checked></label>
    </div>
    <div class="color-choices">
      <input
        type="radio"
        value="None"
        id="radioTwo"
        name="account"
      />
      <label for="radioTwo" class="radio cl-2"></label>
    </div>
    <div class="color-choices">
      <input
        type="radio"
        value="None"
        id="radioThree"
        name="account"
      />
      <label for="radioThree" class="radio cl-3"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio4" name="account" />
      <label for="radio4" class="radio cl-4"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio5" name="account" />
      <label for="radio5" class="radio cl-5"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio6" name="account" />
      <label for="radio6" class="radio cl-6"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio7" name="account" />
      <label for="radio7" class="radio cl-7"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio7" name="account" />
      <label for="radio7" class="radio cl-8"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio7" name="account" />
      <label for="radio7" class="radio cl-9"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio7" name="account" />
      <label for="radio7" class="radio cl-10"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio7" name="account" />
      <label for="radio7" class="radio cl-11"></label>
    </div>
    <div class="color-choices">
      <input type="radio" value="None" id="radio7" name="account" />
      <label for="radio7" class="radio cl-12"></label>
    </div>
  </div>
</div>
<div class="action-save-design w-100">
  <button class="btn btn-primary w-100 mt-auto">
    Save my design
  </button>
</div>