<div class="tab-pane__content position-relative">
  <div class="text-content">
    <div class="design__tool--search">
      <div class="search-form">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.5"
            d="M17.5 17.5L13.75 13.75"
            stroke="#656782"
            stroke-width="1.25"
            stroke-linecap="round"
          />
          <circle
            cx="9.375"
            cy="9.375"
            r="6.25"
            stroke="#656782"
            stroke-width="1.25"
          />
        </svg>
      </div>
    </div>
    <div class="design__tool--content">
      <div class="image-panel sticker">
        <div class="row">
          <div class="col-6">
            <img id="basic-item"
              class="w-100 image-panel__item"
              src="/assets/img/sticker-1.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img id="sticker-item"
              class="w-100 image-panel__item"
              src="/assets/img/sticker-2.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 image-panel__item"
              src="/assets/img/sticker-3.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 image-panel__item"
              src="/assets/img/sticker-4.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 image-panel__item"
              src="/assets/img/sticker-5.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 image-panel__item"
              src="/assets/img/sticker-6.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="w-100 image-panel__item"
              src="/assets/img/sticker-7.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-sub">
    <div class="text-content select-color"></div>
    <div class="action-save-design w-100">
      <button class="btn btn-primary w-100 mt-auto">Done</button>
    </div>
  </div>
</div>
<div class="action-save-design w-100">
  <button class="btn btn-primary w-100 mt-auto">
    Save my design
  </button>
</div>