<div class="tab-pane__content position-relative">
  <div class="text-content">
    <div class="design__tool--search">
      <div class="search-form">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.5"
            d="M17.5 17.5L13.75 13.75"
            stroke="#656782"
            stroke-width="1.25"
            stroke-linecap="round"
          />
          <circle
            cx="9.375"
            cy="9.375"
            r="6.25"
            stroke="#656782"
            stroke-width="1.25"
          />
        </svg>
      </div>
    </div>
    <div class="design__tool--content">
      <div class="image-panel">
        <div class="row">
          <div class="col-6">
            <img
              id="basic-item"
              class="image-panel__item w-100"
              src="../assets/img/sticker-1.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              id="sticker-item"
              class="image-panel__item w-100"
              src="../assets/img/sticker-2.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="image-panel__item w-100"
              src="../assets/img/sticker-3.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="image-panel__item w-100"
              src="../assets/img/sticker-4.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="image-panel__item w-100"
              src="../assets/img/sticker-5.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="image-panel__item w-100"
              src="../assets/img/sticker-6.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="image-panel__item w-100"
              src="../assets/img/sticker-7.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-sub sticker">
    <div class="text-content select-color">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.4289 3.57107L7.70711 11.2929C7.31658 11.6834 7.31658 12.3166 7.70711 12.7071L15.4289 20.4289"
              stroke="#656782"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>

          <h3 class="design__tool--title">Stickers</h3>
        </div>
        <button class="btn d-block d-md-none p-0" id="close-tool-edit">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="5.42871" y="4.45703" width="21.25" height="1.5" rx="0.75" transform="rotate(45 5.42871 4.45703)"
              fill="#656782" />
            <rect x="4.54492" y="19.4834" width="21.25" height="1.5" rx="0.75" transform="rotate(-45 4.54492 19.4834)"
              fill="#656782" />
          </svg>
        </button>
      </div>

      <div class="design__tool--content">
        <div class="image-panel">
          <div class="row">
            <div class="col-6">
              <img
                id="basic-item"
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-1.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                id="sticker-item"
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-2.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-3.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-4.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-5.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-6.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-7.png"
                alt=""
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 image-panel__item"
                src="../assets/img/sticker-detail-8.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="action-save-design w-100">
      <button class="btn btn-primary w-100 mt-auto">Done</button>
    </div>
  </div>
</div>
<div class="action-save-design w-100 d-none d-md-block">
  <button class="btn btn-primary w-100 mt-auto">Save my design</button>
</div>
