<div class="tab-pane__content">
  <h3 class="design__tool--title">Add your image</h3>
  <p class="design__tool--description">Max file size of 50MB</p>
  <button class="btn btn-primary w-100 mt-auto mb-2">
    Add Image
  </button>
  <p class="design__tool--description">
    Recently used uploaded pictures
  </p>
  <div class="design__tool--content">
    <div class="image-panel">
      <div class="row">
        <div class="col-6">
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-1.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-3.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-6.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-1.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-3.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-6.png"
            alt=""
          />
        </div>
        <div class="col-6">
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-2.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-4.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-6-1.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-2.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-4.png"
            alt=""
          />
          <img
            class="w-100 image-panel__item"
            src="/assets/img/img-panel-6-1.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="action-save-design w-100">
  <button class="btn btn-primary w-100 mt-auto">
    Save my design
  </button>
</div>