<section class="content-wrapper">
  <nav class="breadcrumb-show">
    <div class="container">
      <a href="javascript:(0)" class="breadcrumb-show__item" aria-current="page"
        >Order History</a
      >
      <p class="breadcrumb-show__description">
        Print your desired look on ready-made shirts with various sizes and
        colors.
      </p>
    </div>
  </nav>
  <nav aria-label="breadcrumb " class="d-none d-md-block">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Order history
        </li>
      </ol>
    </div>
  </nav>
  <div class="order-history">
    <div class="container">
      <div class="order-history__content">
        <div class="order-history__content--item">
          <div
            class="order-head d-flex align-items-center justify-content-between"
          >
            <div class="d-flex align-items-center">
              <h3 class="mb-0">Order:</h3>
              <span class="code-order">23464564564</span>
            </div>
            <div class="d-flex align-items-center order-status shipping">
              <div class="dot-or"></div>
              <span class="name">Shipping</span>
            </div>
          </div>
          <div class="order-list">
            <table class="table">
              <thead>
                <tr>
                  <th>Items</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="order-list__item">
                      <img src="../assets/img/product-2.png" alt="">
                      <div class="order-list__item--content">
                        <h3 class="title">Rainbow Heart Lesbian Pride </h3>
                        <p>T-Shirt Men</p>
                        <p>Color: Black</p>
                        <p>Size: XXL</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">$40</td>
                  <td class="text-center">$2</td>
                </tr>
                <tr>
                  <td>
                    <div class="order-list__item">
                      <img src="../assets/img/product-2.png" alt="">
                      <div class="order-list__item--content">
                        <h3 class="title">Rainbow Heart Lesbian Pride </h3>
                        <p>T-Shirt Men</p>
                        <p>Color: Black</p>
                        <p>Size: XXL</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">$40</td>
                  <td class="text-center">$2</td>
                </tr>
              </tbody>
            </table>
            <div class="order-list__total">
              <div class="order-list__total--date">10:15:32   20-07-2022</div>
              <div class="d-flex align-items-center">
                <span>Order total:</span>
                <span class="total-value">$160</span>
              </div>
            </div>
          </div>
        </div>
        <div class="order-history__content--item">
          <div
            class="order-head d-flex align-items-center justify-content-between"
          >
            <div class="d-flex align-items-center">
              <h3 class="mb-0">Order:</h3>
              <span class="code-order">23464564564</span>
            </div>
            <div class="d-flex align-items-center order-status shipping">
              <div class="dot-or"></div>
              <span class="name">Shipping</span>
            </div>
          </div>
          <div class="order-list">
            <table class="table">
              <thead>
                <tr>
                  <th>Items</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="order-list__item">
                      <img src="../assets/img/product-2.png" alt="">
                      <div class="order-list__item--content">
                        <h3 class="title">Rainbow Heart Lesbian Pride </h3>
                        <p>T-Shirt Men</p>
                        <p>Color: Black</p>
                        <p>Size: XXL</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">$40</td>
                  <td class="text-center">$2</td>
                </tr>
                <tr>
                  <td>
                    <div class="order-list__item">
                      <img src="../assets/img/product-2.png" alt="">
                      <div class="order-list__item--content">
                        <h3 class="title">Rainbow Heart Lesbian Pride </h3>
                        <p>T-Shirt Men</p>
                        <p>Color: Black</p>
                        <p>Size: XXL</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">$40</td>
                  <td class="text-center">$2</td>
                </tr>
              </tbody>
            </table>
            <div class="order-list__total">
              <div class="order-list__total--date">10:15:32   20-07-2022</div>
              <div class="d-flex align-items-center">
                <span>Order total:</span>
                <span class="total-value">$160</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
