<section class="content-wrapper">
  <nav class="breadcrumb-show">
    <div class="container">
      <a href="javascript:(0)" class="breadcrumb-show__item" aria-current="page"
        >Order History</a
      >
      <p class="breadcrumb-show__description">
        Print your desired look on ready-made shirts with various sizes and
        colors.
      </p>
    </div>
  </nav>
  <nav aria-label="breadcrumb " class="d-none d-md-block">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </div>
  </nav>
  <div class="profile">
    <div class="container">
      <div class="profile__content">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              value="Mark"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              placeholder="Street address"
              id="validationCustom03"
              required
            />
            <div class="invalid-feedback">Please provide a valid city.</div>
          </div>
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              placeholder="Apt / Suite/ Other (optional)"
              id="validationCustom03"
              required
            />
            <div class="invalid-feedback">Please provide a valid city.</div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="City"
                  id="validationCustom03"
                  required
                />
                <div class="invalid-feedback">Please provide a valid city.</div>
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                <select class="form-control select-custom">
                  <option selected="selected">State</option>
                  <option>white</option>
                  <option>purple</option>
                </select>
                <div class="invalid-feedback">Please select a valid state.</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  placeholder="Zipcode"
                  required
                />
                <div class="invalid-feedback">Please provide a valid city.</div>
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                <select class="form-control select-custom">
                  <option selected="selected">Country</option>
                  <option>white</option>
                  <option>purple</option>
                </select>
                <div class="invalid-feedback">Please select a valid state.</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  id="validationCustom03"
                  required
                />
                <div class="invalid-feedback">Please provide a valid city.</div>
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone"
                  id="validationCustom03"
                  required
                />
                <div class="invalid-feedback">Please provide a valid city.</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6 text-md-end mb-3 order-md-1 order-2">
                <div class="btn btn-primary">Cancle</div>
              </div>
              <div class="col-md-6 order-md-2 order-1">
                <div class="btn btn-primary-2 mb-3 ">Update</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
