<section class="content-wrapper">
  <nav class="breadcrumb-show">
    <div class="container">
      <a
        href="javascript:(0)"
        class="breadcrumb-show__item"
        aria-current="page"
      >
        Wish list</a
      >
      <p class="breadcrumb-show__description">
        Print your desired look on ready-made shirts with various sizes and
        colors.
      </p>
    </div>
  </nav>
  <nav aria-label="breadcrumb " class="d-none d-md-block">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wish list</li>
      </ol>
    </div>
  </nav>
  <div class="cart cart-checkout wish-list"">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg> 
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <p class="list-item price">$50</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg> 
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <p class="list-item price">$50</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg> 
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <p class="list-item price">$50</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="cart__items">
              <img
                src="../assets/img/shop-img.png"
                class="cart__items--image"
                alt=""
              />
              <div class="cart__items--content w-100">
                <div class="title d-flex justify-content-between">
                  <h3 class="mb-0">Infinity Run Flyknit 3</h3>
                  <button class="btn p-0">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="4"
                        y="3"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(45 4 3)"
                        fill="#656782"
                      />
                      <rect
                        x="2.93945"
                        y="20.6777"
                        width="25"
                        height="1.5"
                        rx="0.75"
                        transform="rotate(-45 2.93945 20.6777)"
                        fill="#656782"
                      />
                    </svg> 
                  </button>
                </div>
                <p class="list-item">T-Shirt Men</p>
                <p class="list-item">Color: Black</p>
                <p class="list-item">Size: XXL</p>
                <p class="list-item price">$50</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
