@font-face {
  font-family: 'pricons';
  src:  url('fonts/pricons.eot');
  src:  url('fonts/pricons.eot') format('embedded-opentype'),
    url('../fonts/pricons.ttf') format('truetype'),
    url('fonts/pricons.woff') format('woff'),
    url('fonts/pricons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pricon-"], [class*=" pricon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pricons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;    
  -moz-osx-font-smoothing: grayscale;
}

.pricon-css3:before {
  content: "\e943";
}
.pricon-click:before {
  content: "\e93d";
}
.pricon-web-browser:before {
  content: "\e93e";
}
.pricon-elementor:before {
  content: "\e93f";
}
.pricon-web-browser-2:before {
  content: "\e940";
}
.pricon-right-arrow:before {
  content: "\e941";
}
.pricon-woo:before {
  content: "\e942";
}
.pricon-file:before {
  content: "\e944";
}
.pricon-mobile:before {
  content: "\e945";
}
.pricon-support:before {
  content: "\e946";
}
.pricon-web-browser-3:before {
  content: "\e947";
}
.pricon-d-printing:before {
  content: "\e938";
}
.pricon-design-2:before {
  content: "\e939";
}
.pricon-printer-2:before {
  content: "\e93a";
}
.pricon-suitcase:before {
  content: "\e93b";
}
.pricon-tshirt-4:before {
  content: "\e93c";
}
.pricon-return-2:before {
  content: "\e935";
}
.pricon-telephone:before {
  content: "\e936";
}
.pricon-secure-payment:before {
  content: "\e937";
}
.pricon-gallery:before {
  content: "\e931";
}
.pricon-speedometer:before {
  content: "\e932";
}
.pricon-checked:before {
  content: "\e933";
}
.pricon-tshirt-3:before {
  content: "\e934";
}
.pricon-laptop-2:before {
  content: "\e92b";
}
.pricon-smartphone:before {
  content: "\e92c";
}
.pricon-tablet:before {
  content: "\e92d";
}
.pricon-laptop:before {
  content: "\e92e";
}
.pricon-package-2:before {
  content: "\e92f";
}
.pricon-photo-filter:before {
  content: "\e930";
}
.pricon-star .path1:before {
  content: "\e919";
  color: rgb(0, 0, 0);
}
.pricon-star .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-star .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-star .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-star .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-star .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-tshirt-1:before {
  content: "\e91f";
}
.pricon-tshirt-2:before {
  content: "\e920";
}
.pricon-worldwide:before {
  content: "\e921";
}
.pricon-delivery-2 .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
}
.pricon-delivery-2 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.pricon-delivery-2 .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-delivery-2 .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-color .path1:before {
  content: "\e926";
  color: rgb(0, 0, 0);
}
.pricon-color .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-box:before {
  content: "\e928";
}
.pricon-award .path1:before {
  content: "\e929";
  color: rgb(0, 0, 0);
}
.pricon-award .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.pricon-cube:before {
  content: "\e900";
}
.pricon-supplies:before {
  content: "\e901";
}
.pricon-equalizer:before {
  content: "\e902";
}
.pricon-delivery:before {
  content: "\e903";
}
.pricon-credit-card:before {
  content: "\e904";
}
.pricon-box-order:before {
  content: "\e905";
}
.pricon-database:before {
  content: "\e906";
}
.pricon-design:before {
  content: "\e907";
}
.pricon-ecology:before {
  content: "\e908";
}
.pricon-global:before {
  content: "\e909";
}
.pricon-globe-address:before {
  content: "\e90a";
}
.pricon-mix-circle:before {
  content: "\e90b";
}
.pricon-package:before {
  content: "\e90c";
}
.pricon-payment:before {
  content: "\e90d";
}
.pricon-phone:before {
  content: "\e90e";
}
.pricon-printer:before {
  content: "\e90f";
}
.pricon-printing:before {
  content: "\e910";
}
.pricon-return:before {
  content: "\e911";
}
.pricon-tree:before {
  content: "\e912";
}
.pricon-universe:before {
  content: "\e913";
}
.pricon-no-dollar:before {
  content: "\e914";
}
.pricon-image:before {
  content: "\e915";
}
.pricon-shape:before {
  content: "\e916";
}
.pricon-text-t:before {
  content: "\e917";
}
.pricon-bounding-box:before {
  content: "\e918";
}