@media (max-width: 1199.77px) {
  .cart-user-item {
    flex-grow: 1;

    .navbar-nav {
      justify-content: flex-end;
    }
  }

  .header {
    .navbar {
      .navbar-brand {
        order: 2;
      }

      .navbar-toggler {
        order: 1;
      }

      .cart-user-item {
        order: 3;
      }
    }

    .navbar-collapse {
      background: #ffffff;
      font-size: 20px;
      line-height: 24px;
      padding: 20px;
      height: 100%;
      width: 417px;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 700;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: hidden;

      &.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
        -webkit-overflow-scrolling: touch;
      }

      .navbar-nav {
        .nav-link {
          padding: 20px;
        }
      }
    }

    .collapse {
      &__tool {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &--logo {
          img {
            height: 30px;
            margin-left: 20px;
          }
        }
      }
    }
    .cart-user-item {
      .dropdown-menu {
        background: #ffffff;
        line-height: 24px;
        height: 100%;
        width: 417px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 700;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        visibility: hidden;

        .collapse__tool {
          padding: 20px;
          margin-bottom: 20px;
        }

        .dropdown-item {
          font-size: 20px;
          padding: 20px;
        }

        &.show {
          webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          visibility: visible;
          -webkit-overflow-scrolling: touch;
        }
      }
      .dropdown-menu[data-bs-popper] {
        right: 0;
        left: auto;
      }
    }
  }
}

@media (max-width: 767.77px) {
  .header {
    .navbar-collapse {
      width: 100%;

      .collapse {
        &__tool {
          justify-content: flex-end;

          &--logo {
            display: none;
          }
        }
      }
    }
    .cart-user-item {
      .dropdown-menu {
        width: 100%;
      }
    }
    .navbar-nav {
      .nav-link {
        padding: 18px 20px;
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .header {
    .navbar > .container,
    .navbar > .container-fluid,
    .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm,
    .navbar > .container-xl,
    .navbar > .container-xxl {
      justify-content: flex-between;
    }
  }
}
